// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$mobile: 760px;

body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;

    @media only screen and (max-width: $mobile) {
        padding-bottom: env(safe-area-inset-bottom, 20px);
    }
}

.app {
    color: var(--text);
    background-color: var(--selected-ui);
    overflow-x: hidden;
    min-height: 100vh;
}

:root {
    --text: #24292e;
    // --plain-ui: #EAEAEB;
    // --selected-ui: #FAFAFA;
    --plain-ui: #f4f7f8;
    --selected-ui: white;
    // --selected: #f4f7f8;
    --selected: #eef2f5;
    --line-numbers: #000;
    --selected-hover: #e5e5e5;
    --nested-border: #a9a9a9;
    --textarea: #24292e;
    --table-second: #f5f5f5;
    --inactive-text: #9aa1ae;



    /* Switch */
    /** sunny side **/
    --blue-background: #C2E9F6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
    --error: #f6280d;
    --success: #28a745;
    --primary: #3369ff;
}


[data-theme="dark"] {
    --text: #fff;
    --textarea: #edf0f5;
    // --selected: #252930;
    --selected: #141417;
    // --plain-ui: #21252b;
    --plain-ui:#1e2023;
    // --selected-ui: #282c34;
    // --selected-ui: #1f222a;
    --selected-ui: #18191c;
    --line-numbers: #eee;
    --selected-hover: #2C313A;
    --nested-border: #585858;
    --table-second: var(--selected-hover);

    ::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.1);
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}
p[contenteditable="true"] {
    outline: none;
}

* {
    box-sizing: border-box;
}

button,
input,
textarea {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: var(--text);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="checkbox"] {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
}

img,
svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.img {
    position: relative;
    width: 100%;
    height: 100%;
}

table {
    display: block;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    background-color: var(--selected-ui);
}

th {
    font-weight: 600;
}

th,
td {
    border: 1px solid var(--nested-border);
    padding: 6px 13px;
}

tr:nth-child(2n) td {
    background-color: var(--table-second);
}

td.split {
    padding: 0;
}

select {
    position: relative;
    color: black;
    font-size: 1rem;
    text-align: center;
    padding: 0.7em 1.7em;
    padding-right: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    background-position: calc(100% - 10px) 50%, 100% 0;
}

option {
    cursor: pointer;
}

a {
    color: #0366d6;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 1.7em;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--primary);
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    width: fit-content;
    font-size: 1rem;

    &.danger, &.error {
        background-color: var(--error);
    }
}

.btn:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: grey;
    border-radius: 60px;
    position: absolute;
    top: 0;
    transition: background-color .2s;
}
  
.react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
  
.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
  
.react-switch-label:active .react-switch-button {
    width: 35px;
}

.switch-container {
    height: 30px;
    width: 60px;
    position: relative;
}

nav.normal-nav {
    background-color: var(--selected-ui);
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 1fr;
    height: 80px;
    gap: 20px;
    width: 100vw;
    top: 0;
    left: 0;
    color: var(--color);
    z-index: 10;

    &.home-nav {
        background-color: transparent;
        position: fixed;
    }

    @media only screen and (max-width: $mobile) {
        .nav-items {
            padding: 0px;
            width: 100%;
        }
    }
}

nav .center-items {
    justify-self: center;
    .theme-toggler {
        display: grid;
        grid-template-columns: auto 60px auto;
        align-items: center;
        gap: 20px;
    }
}

nav .nav-message {
    padding: 20px;
    padding-left: 20px;
    font-size: 28px;
    a {
        color: inherit;
    }
}

nav .search-form {
    justify-self: center;
    width: 400px;
}

nav .search-form input {
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

nav .nav-items {
    padding: 0px 50px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-self: end;
}

nav .nav-item {
    display: grid;
    justify-items: center;
}

nav .nav-items .nav-item a {
    padding: 20px;
    font-size: 20px;
    color: inherit;
}

.theme-switch-container {
    position: fixed;
    bottom: 0;
    left: 200px;
    height: 50px;
    padding: 0px 10px;
    background-color: var(--selected-ui);
    border-top-right-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
    color: var(--inactive-text);
    z-index: 11;
    

    &.home {
        left: 0px;
        background-color: transparent;
        &::before, &::after {
            content: unset;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 50px;
        width: 20px;
        height: 20px;
        background-color: var(--plain-ui);
        border-bottom-left-radius: 20px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 50px;
        width: 20px;
        height: 20px;
        background-color: var(--selected-ui);
    }

    @media only screen and (max-width: $mobile) {
        padding-bottom: env(safe-area-inset-bottom, 20px);
        height: 70px;
        width: 100%;
        left: 0 !important;
        grid-template-columns: repeat(2, min-content);
        justify-content: center;
        border-radius: 0px;

        &::after, &::before {
          content: unset;
        }
    }
}

.title {
    font-size: 32px;
    font-weight: 300;
}

.category-container {
    display: grid;
    background-color:var(--plain-ui);
    align-items: center;
    justify-items: center;
    border-top-left-radius: 35px;
    max-height: 100%;
    overflow: hidden;

    @media only screen and (max-width: $mobile) {
        border-radius: 35px;
    }
}

.layout-default {
    display: grid;
    grid-template-rows: auto 1fr;
}

.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 50px;
    height: calc(100vh - 80px);
    background-color: var(--selected-ui);
    

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 50px;
        padding-bottom: env(safe-area-inset-bottom, 20px);
    }
}

.sidebar {
    // background-color: #252f3f;
    background-color: var(--selected-ui);
    color: var(--inactive-text);
    padding: 7px;
    display: grid;
    font-weight: 500;
    font-size: 15px;
}

.sidebar-group  {
    display: grid;
    grid-auto-rows: 40px;
    color: #a8adb5;
    align-items: center;
    justify-items: center;

    .title {
        color: #737b88;
        padding: 7px;
        width: 100%;
        font-size: inherit;
    }

    .sidebar-element {
        padding: 0px 10px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease;
        position: relative;
        height: 30px;

        &.add, &.new {
            line-height: 30px;
        }

        &.new {
            background-color: var(--plain-ui);
            input {
                text-align: center;
            }
        }

        &.selected {
            .img.folder-open {
                display: block;
            }

            .img.folder-closed {
                display: none;
            }
        }
    }
    

    .sidebar-element.selected, .sidebar-element:hover {
        transition: 0.3s ease;
        // background-color: #161e2e;
        // background-color: var(--selected-hover);
        border-radius: 5px;
        color: var(--text)
    }
}

.settings-display {
    padding: 50px 100px;
    max-width: min(1100px, 100%);
    width: 100%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 70%) minmax(250px, 30%));
    grid-auto-rows: min-content;
    grid-gap: 20px;
    align-self: flex-start;
    height: 100%;

    & > .title {
        grid-column: span 2;
        text-align: center;
    }

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
        padding: 50px 25px;

        & > .title {
            grid-column: unset;
        }
    }
}

.card {
    background-color: var(--selected-ui);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: grid;
    height: min-content;

    .header {
        height: 40px;
        width: 100%;
        line-height: 40px;
        font-weight: bold;
        padding: 0px 10px;
    }
}

.projects-list {
    display: grid;
    grid-template-rows: auto 1fr;

    .projects-list-container {
        display: grid;
        height: 100%;

        .project.add {
            align-self: flex-end;
            color: var(--white);
        }
    }
}

.project {
    height: 40px;
    width: 100%;
    cursor: pointer;
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;

    &.with-icon .img {
        width: unset;
    }

    &:first-child, &:nth-child(2) {
        border: none;
    }

    &:hover {
        background-color: var(--plain-ui);
    }

    &.new {
        background-color: var(--plain-ui);
        input {
            font-size: inherit;
            text-align: center;
            width: 100%;
        }
    }

    &.add {
        background-color: var(--primary);
        text-align: center;
        border-radius: 5px;
        width: max-content;
        margin: 5px auto;
    }
}

.danger-zone {
    border: 1px solid rgba(248,81,73,1);
    color: var(--error);

    .danger-container {
        display: grid;
        gap: 20px;
        padding: 20px;   

        .btn {
            width: 100%;
        }
    }

    input {
        border: 1px solid rgba(248,81,73,0.4);
        padding: 5px;
    }

    .verify, .label {
        color: var(--text);
        .not-correct {
            color: var(--inactive-text);
        }
        .correct {
            color: var(--error);
        }
    }
}


.project-page {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    background-color: var(--selected-ui);

    .folder-container {
        grid-row: span 2;
        background-color: var(--selected-ui);
    }

    .editor-container {
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: var(--plain-ui);
    }

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr 50px;
        padding-bottom: env(safe-area-inset-bottom, 20px);
        // height: calc(100vh - 80px);

        .folder-container {
            grid-row: unset;
            padding-bottom: 10px;
        }

        .markdown-container {
            overflow: hidden;
            max-height: 100%;
            padding: 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            .markdown-previewer {
                height: fit-content;
            }

            & > .title {
                height: min-content;
                padding: 45px;
                text-align: center;
            }
        }
    }
}


.filetree-container {
    background-color: var(--selected-ui);
    color: var(--text);
}

.root-name {
    width: 100%;
    background-color: var(--plain-ui);
    padding-left: 20px !important;
}

.root-name .add-icon {
    display: block !important;
}

.with-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    width: 100%;
    overflow: hidden;
    align-items: center;

    .img {
        width: 16px;
        box-sizing: content-box;
    }

    .img.folder-open {
        display: none;
    }

    .img.folder-closed {
        display: block;
    }
}

.folder-container .nav-header {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    cursor: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    align-items: center;
}

.folder-container .nav-header .rights {
    font-weight: bold;
    color: var(--success);
}

.folder-container .nav-header .settings-icon {
    width: 25px;
    height: 25px;
    justify-self: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 5px;
    transition: ease 0.2s;
}

.folder-container .nav-header .settings-icon:hover {
    background-color: var(--plain-ui);
}

.filetree-container .with-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    width: 100%;
    align-items: center;
    height: 30px;
    padding-left: 40px;
    overflow: hidden;
    cursor: pointer;
}

.filetree-container input {
    font-size: 16px;
}

.filetree-container p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filetree-container .with-icon.folder {
    grid-template-columns: 30px 1fr 30px 30px;
}

.filetree-container .with-icon.temp {
    grid-template-columns: auto 30px 1fr;
    input {
        width: 100%;
    }
}

.filetree-container .with-icon .add-icon {
    display: none;
}

.filetree-container .with-icon:hover .add-icon {
    display: block;
}

.filetree-container .with-icon:not(.selected):hover {
    background-color: var(--plain-ui);
}

.filetree-container .with-icon  img {
    width: 16px;
    padding: 5px;
    box-sizing: content-box;
}

.filetree-container .folder .img.folder-open {
    display: none;
}

.filetree-container .folder.open .img.folder-open {
    display: block;
}

.filetree-container .folder.open .img.folder-closed {
    display: none;
}

.filetree-container .with-icon.selected:not(.root-name) {
    background-color: var(--plain-ui);
}

.nested-container.closed {
    display: none;
}

.nested-container .folder,
.nested-container .file {
    grid-template-columns: auto 30px 1fr 30px 30px !important;
}

.filetree-container .temp .nested-borders {
    opacity: 0.5 !important;
}

.nested-borders {
    width: fit-content;
    opacity: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20px;
    transition: opacity 0.3s ease;
    height: 100%;
}

.nested-border {
    border-left: 1px solid var(--nested-border);
    margin-left: 8px;
    height: 100%;
}

.filetree-container:hover .nested-borders, .nested-borders.force-preview {
    opacity: 0.5;
}


.context-menu {
    position: absolute;
    width: 150px;
    height: auto;
    display: grid;
    grid-auto-rows: 30px 30px;
    overflow: hidden;
    align-content: center;
    background-color: var(--plain-ui);
    border: 1px solid black;
    cursor: pointer;
    color: var(--text);
    z-index: 9998;
}

.context-menu p {
    line-height: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: unset;
    color: unset;
    border: unset;
    border-radius: unset;
    padding: unset;

    &:hover, &:active {
        background-color: var(--selected);
        color: unset;
    }
}

.markdown-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    &.layout-code, &.layout-preview, &.no-selected {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        background-color: var(--plain-ui);
    }
}

.markdown-previewer,
.markdown-editor {
    height: calc(100vh - 80px - 70px);
}

.markdown-editor {
    background-color: var(--plain-ui);
    display: flex;
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 100%;
    color: var(--inactive-text);

    &:hover {
        color: var(--text);
    }
}


.markdown-editor .line-numbers {
    display: grid;
    grid-auto-rows: 25px;
    min-width: 30px;
    box-sizing: content-box;
    padding-right: 20px;
    justify-items: end;
    line-height: 25px;
    color: var(--inactive-text);
    opacity: 0.5;
}

.markdown-editor textarea {
    width: 100%;
    max-height: min-content;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
    font-size: 16px;
    overflow-y: hidden !important;
    min-height: 25px;
    resize: none !important;
    border: unset;
    border-radius: unset;
    background-color: unset;
    color: inherit;

    @media only screen and(max-width: $mobile) {
        max-height: 100%;
	padding-bottom: 50px;
    }
}

.markdown-nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 25px;
    height: 100%;
    padding: 0 50px;
    border-top-left-radius: 35px;
    background-color: var(--plain-ui);

    // .nav-item {
    //     width: 40px;
    //     height: 40px;
    // }

    @media only screen and (max-width: $mobile) {
        height: 50px;
        border-top-right-radius: 35px;;
    }
}

.markdown-nav .spacer {
    flex-grow: 1;
}


.nav-item.layout-split {
    border: 2px solid var(--nested-border);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30px 2px 30px;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: ease 0.2s;
}

.nav-item.layout-split:hover {
    background-color: var(--selected);
}

.nav-item svg {
    width: 35px;
    height: 35px;
    padding: 5px;
    fill: var(--text);
}

.nav-item.layout-split .border {
    background-color: var(--nested-border);
    height: 100%;
    width: 2px;
}

.nav-item.layout-single {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid var(--nested-border);
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.2s;
}

.nav-item.nav-item.layout-single:hover {
    background-color: var(--selected);
}

.index-page {
    background-color: var(--selected-ui);
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-auto-rows: 100vh;

    @media only screen and (max-width: $mobile) {
        grid-template-rows: 100vh auto;
    }
}

.landing {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    position: relative;
    z-index: 3;

    .top {
        background-color: var(--selected-ui);
        grid-column: span 3;
    }

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 1fr;

        .top {
            grid-column: span 1;
        }
    }
}

.s-logo {
    position: absolute;
    z-index: 10;
    font-weight: 1000;
    display: grid;
    align-items: center;
    user-select: none;
    height: 100%;

    p {
        font-size: 20vw;
        transition: font-size 0.3s ease;
        text-shadow: 3px 3px rgba(0,0,0,0.5);

        &:hover {
            font-size: 22.5vw;
        }
    }

    @media only screen and (max-width: $mobile) {
        p {
            font-size: 144px;
        }
    }
}

.left.side-container {
    width: 50vw;
    justify-self: flex-end;
    text-align: right;
    display: grid;
    transform: translateY(0);
    justify-items: flex-end;
    position: relative;

    .text-container {
        margin-top: 20vh;
        margin-right: 20vw;
        text-align: left;
        z-index: 11;
        height: min-content;

        h1 {
            font-size: 44px;
        }
        h2 {
            font-weight: 300;
        }
    }

    .s-logo {
        animation: slide-up 0.3s ease-out forwards;
        right: -1.25vw;
        color: var(--plain-ui);
    }

    .markdown-edit-preview {
        position: absolute;
        bottom: 60px;
        left: 5vw;
        height: 30vh;
        width: 30vw;
        z-index: 11;

        .mac-window .container {
            overflow: hidden;
            .markdown-editor {
                height: calc(30vh - 40px);
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        .s-logo {
            bottom: -87.5px;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
            animation: slide-right 0.3s ease-out forwards;
        }
    }
}

.action-link {
    color: #0366d6;
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 10px;
    cursor: pointer;
    transform-origin: 0% 50%;
    transition: font-size 0.3s ease;
    font-size: 16px;
    width: min-content;

    &:hover {
        font-size: 19px;
        .spacer {
            width: 10px;
        }
    }

    .spacer {
        width: 5px;
        transition: width 0.5s ease;
    }
}

.right.side-container {
    width: 60vw;
    height: 100%;
    background-color: var(--plain-ui);
    clip-path: polygon(10vw 0, 100% 0, 100% 100%, 0 100%);
    transform: translateX(-10vw);
    display: grid;
    justify-self: flex-start;
    position: relative;

    .s-logo {
        left: -1.25vw;
        color: var(--selected-ui);
        animation: slide-down 0.3s ease-out forwards;
    }

    .text-container {
        margin-top: 60vh;
        margin-left: 20vw;
        z-index: 11;
        height: min-content;

        h1 {
            font-size: 44px;
        }
        h2 {
            font-weight: 300;
        }
    }

    .markdown-preview {
        position: absolute;
        top: 5vh;
        right: 5vw;
        height: 50vh;
        overflow: hidden;
        width: 30vw;
        .markdown-previewer {
            height: calc(30vh - 40px);
            padding: 0 45px;
        }
    }

    @media only screen and (max-width: $mobile) {
        transform: translateX(0);
        clip-path: none;

        .s-logo {
            top: -87.5px;
            clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
            animation: slide-left 0.3s ease-out forwards;
        }
    }
}

.side-container {
    @media only screen and (max-width: $mobile) {
        width: 100% !important;

        .text-container {
            margin: auto !important;
            padding: 20px;
            height: min-content;
            text-align: center;
        }

        .s-logo {
            width: 100%;
            height: 175px;
            text-align: center;
            right: 0 !important;
            left: 0 !important;
        }
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50%) ;
    }
    100% {
        transform: translateY(0) ;
    }
}
@keyframes slide-up {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slide-right {
    0% {
        transform: translateX(-50%) ;
    }
    100% {
        transform: translateY(0) ;
    }
}
@keyframes slide-left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateY(0);
    }
}

.landing-preview {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: var(--plain-ui);
    z-index: 2;
    display: grid;
    grid-template-rows: 215px 1fr;

    .right-text {
        display: grid;
        align-items: center; 

        h3 {
            height: min-content;
            width: auto;
            font-size: 44px;
            text-align: right;
            padding-right: 20vw;
        }
    }
    
    & > .container {
        display: grid;
        max-width: min(1366px, 100%);
        margin: auto;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        max-height: 100%;
        padding: 45px;
        gap: 45px;
    }
    

    .preview {
        height: 400px;

        .mac-window .container {
            overflow: hidden;
            .markdown-editor {
                height: 360px;
            }
        }
    }

    @media only screen and (max-width: $mobile) {
        grid-template-rows: 130px 1fr;
        height: auto;

        .right-text {
            align-items: flex-end;
            h3 {
                padding: 0;
                text-align: center;
            }
        }

        & > .container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .preview {
            height: 256px;

            .mac-window .container {
                overflow: hidden;
                .markdown-editor {
                    height: 216px;
                }
            }
        }
    }
}
