// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.app {
    color: var(--text);
    background-color: var(--plain-ui);
    overflow-x: hidden;
    min-height: 100vh;
}

:root {
    --text: #24292e;
    --plain-ui: #EAEAEB;
    // --selected-ui: #FAFAFA;
    --selected-ui: white;
    --selected: #DBDBDC;
    --line-numbers: #000;
    --selected-hover: #e5e5e5;
    --nested-border: #a9a9a9;
    --textarea: #24292e;
    --table-second: #f5f5f5;
    --inactive-text: #9aa1ae;



    /* Switch */
    /** sunny side **/
    --blue-background: #C2E9F6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
    --error: #f6280d;
    --success: #28a745;
    --primary: #3369ff;
}


[data-theme="dark"] {
    --text: #fff;
    --textarea: #edf0f5;
    --selected: #252930;
    --plain-ui: #21252b;
    // --selected-ui: #282c34;
    --selected-ui: #1f222a;
    --line-numbers: #eee;
    --selected-hover: #2C313A;
    --nested-border: #585858;
    --table-second: var(--selected-hover);
}

h1,
h2,
p {
    margin: 0;
}
p[contenteditable="true"] {
    outline: none;
}

* {
    box-sizing: border-box;
}

button,
input,
textarea {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: var(--textarea);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="checkbox"] {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
}

img,
svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.img {
    position: relative;
    width: 100%;
    height: 100%;
}

table {
    display: block;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    background-color: var(--selected-ui);
}

th {
    font-weight: 600;
}

th,
td {
    border: 1px solid var(--nested-border);
    padding: 6px 13px;
}

tr:nth-child(2n) td {
    background-color: var(--table-second);
}

td.split {
    padding: 0;
}

select {
    position: relative;
    color: black;
    font-size: 1rem;
    text-align: center;
    padding: 0.7em 1.7em;
    padding-right: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    background-position: calc(100% - 10px) 50%, 100% 0;
}

option {
    cursor: pointer;
}

a {
    color: #0366d6;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 1.7em;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--primary);
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    width: fit-content;
    font-size: 1rem;

    &.danger, &.error {
        background-color: var(--error);
    }
}

.btn:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: grey;
    border-radius: 60px;
    position: absolute;
    top: 0;
    transition: background-color .2s;
}
  
.react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
  
.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
  
.react-switch-label:active .react-switch-button {
    width: 35px;
}

.switch-container {
    height: 30px;
    position: relative;
}

nav.normal-nav {
    background-color: var(--selected-ui);
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 1fr auto;
    height: 80px;
    gap: 20px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
    width: 100vw;
    top: 0;
    left: 0;
    color: var(--color);
    z-index: 10;
}

nav .center-items {
    justify-self: center;
    .theme-toggler {
        display: grid;
        grid-template-columns: auto 60px auto;
        align-items: center;
        gap: 20px;
    }
}

nav .nav-message {
    padding: 20px;
    padding-left: 20px;
    font-size: 28px;
    a {
        color: inherit;
    }
}

nav .search-form {
    justify-self: center;
    width: 400px;
}

nav .search-form input {
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

nav .nav-items {
    padding: 0px 50px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-self: end;
}

nav .nav-item {
    display: grid;
    justify-items: center;
}

nav .nav-items .nav-item a {
    padding: 20px;
    font-size: 20px;
    color: inherit;
}


.title {
    font-size: 32px;
    font-weight: 300;
}

.category-container {
    display: grid;
    background-color:var(--selected);
    align-items: center;
    justify-items: center;
}

.layout-default {
    display: grid;
    grid-template-rows: auto 1fr;
}

.home {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    // background-color: #252f3f;
    background-color: var(--pain-ui);
    color: var(--inactive-text);
    padding: 7px;
    display: grid;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.sidebar-group  {
    display: grid;
    grid-auto-rows: 40px;
    color: #a8adb5;
    align-items: center;
    justify-items: center;

    .title {
        color: #737b88;
        padding: 7px;
        width: 100%;
        font-size: inherit;
    }

    .sidebar-element {
        padding: 0px 10px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease;
        position: relative;
        height: 30px;

        &.add, &.new {
            line-height: 30px;
        }

        &.new {
            background-color: var(--selected);
            input {
                text-align: center;
            }
        }

        &.selected {
            .img.folder-open {
                display: block;
            }

            .img.folder-closed {
                display: none;
            }
        }
    }
    

    .sidebar-element.selected, .sidebar-element:hover {
        transition: 0.3s ease;
        // background-color: #161e2e;
        background-color: var(--selected-hover);
        border-radius: 5px;
        color: var(--text)
    }
}

.settings-display {
    padding: 50px 100px;
    max-width: min(1100px, 100%);
    width: 100%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 70%) minmax(250px, 30%));
    grid-auto-rows: min-content;
    grid-gap: 20px;
    align-self: flex-start;

    & > .title {
        grid-column: span 2;
        text-align: center;
    }
}

.card {
    background-color: var(--selected-ui);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 5px;
    display: grid;
    .header {
        height: 40px;
        width: 100%;
        line-height: 40px;
        font-weight: bold;
        padding: 0px 10px;
    }
}

.projects-list {
    display: grid;
    grid-template-rows: auto 1fr;

    .projects-list-container {
        display: grid;
        height: 100%;

        .project.add {
            align-self: flex-end;
            color: var(--white);
        }
    }
}

.project {
    height: 40px;
    width: 100%;
    cursor: pointer;
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;

    &.with-icon .img {
        width: unset;
    }

    &:first-child, &:nth-child(2) {
        border: none;
    }

    &:hover {
        background-color: var(--selected);
    }

    &.new {
        background-color: var(--selected);
        input {
            font-size: inherit;
            text-align: center;
            width: 100%;
        }
    }

    &.add {
        background-color: var(--primary);
        text-align: center;
        border-radius: 5px;
        width: max-content;
        margin: 5px auto;
    }
}

.danger-zone {
    border: 1px solid rgba(248,81,73,0.4);
    box-shadow: 0px 0px 10px rgba(246, 40, 13, 0.2);
    color: var(--error);

    .danger-container {
        display: grid;
        gap: 20px;
        padding: 20px;   

        .btn {
            width: 100%;
        }
    }

    input {
        border: 1px solid rgba(248,81,73,0.4);
        padding: 5px;
    }

    .verify, .label {
        color: var(--text);
        .not-correct {
            color: var(--inactive-text);
        }
        .correct {
            color: var(--error);
        }
    }
}


.project-page {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;

    .folder-container {
        grid-row: span 2;
    }

    .editor-container {
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: var(--selected);
    }
}


.filetree-container {
    background-color: var(--plain-ui);
    color: var(--text);
}

.root-name {
    width: 100%;
    background-color: var(--selected);
    padding-left: 20px !important;
}

.root-name .add-icon {
    display: block !important;
}

.with-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    width: 100%;
    overflow: hidden;
    align-items: center;

    .img {
        width: 16px;
        box-sizing: content-box;
    }

    .img.folder-open {
        display: none;
    }

    .img.folder-closed {
        display: block;
    }
}

.folder-container .nav-header {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    cursor: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    align-items: center;
}

.folder-container .nav-header .rights {
    font-weight: bold;
    color: var(--success);
}

.folder-container .nav-header .settings-icon {
    width: 25px;
    height: 25px;
    justify-self: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 5px;
    transition: ease 0.2s;
}

.folder-container .nav-header .settings-icon:hover {
    background-color: var(--selected-hover);
}

.filetree-container .with-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    width: 100%;
    align-items: center;
    height: 30px;
    padding-left: 40px;
    overflow: hidden;
    cursor: pointer;
}

.filetree-container input {
    font-size: 16px;
}

.filetree-container p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filetree-container .with-icon.folder {
    grid-template-columns: 30px 1fr 30px 30px;
}

.filetree-container .with-icon.temp {
    grid-template-columns: auto 30px 1fr;
    input {
        width: 100%;
    }
}

.filetree-container .with-icon .add-icon {
    display: none;
}

.filetree-container .with-icon:hover .add-icon {
    display: block;
}

.filetree-container .with-icon:not(.selected):hover {
    background-color: var(--selected-hover);
}

.filetree-container .with-icon  img {
    width: 16px;
    padding: 5px;
    box-sizing: content-box;
}

.filetree-container .folder .img.folder-open {
    display: none;
}

.filetree-container .folder.open .img.folder-open {
    display: block;
}

.filetree-container .folder.open .img.folder-closed {
    display: none;
}

.filetree-container .with-icon.selected:not(.root-name) {
    background-color: var(--selected);
}

.nested-container.closed {
    display: none;
}

.nested-container .folder,
.nested-container .file {
    grid-template-columns: auto 30px 1fr 30px 30px !important;
}

.filetree-container .temp .nested-borders {
    opacity: 0.5 !important;
}

.nested-borders {
    width: fit-content;
    opacity: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20px;
    transition: opacity 0.3s ease;
    height: 100%;
}

.nested-border {
    border-left: 1px solid var(--nested-border);
    margin-left: 8px;
    height: 100%;
}

.filetree-container:hover .nested-borders, .nested-borders.force-preview {
    opacity: 0.5;
}


.context-menu {
    position: absolute;
    width: 150px;
    height: auto;
    display: grid;
    grid-auto-rows: 30px 30px;
    overflow: hidden;
    align-content: center;
    background-color: var(--plain-ui);
    border: 1px solid black;
    cursor: pointer;
    color: var(--text);
    z-index: 9998;
}

.context-menu p {
    line-height: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: unset;
    color: unset;
    border: unset;
    border-radius: unset;
    padding: unset;

    &:hover, &:active {
        background-color: var(--selected);
        color: unset;
    }
}

.markdown-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    &.layout-code, &.layout-preview, &.no-selected {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        background-color: var(--selected);
    }
}

.markdown-previewer,
.markdown-editor {
    height: calc(100vh - 80px - 70px);
}

.markdown-editor {
    background-color: var(--selected);
    display: flex;
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 100%;
}


.markdown-editor .line-numbers {
    display: grid;
    grid-auto-rows: 25px;
    min-width: 30px;
    box-sizing: content-box;
    padding-right: 20px;
    justify-items: end;
    line-height: 25px;
    color: var(--line-numbers);
    opacity: 0.5;
}

.markdown-editor textarea {
    width: 100%;
    max-height: min-content;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
    font-size: 16px;
    overflow-y: hidden !important;
    min-height: 25px;
    resize: none !important;
    border: unset;
    border-radius: unset;
    background-color: unset;
}

.markdown-nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 25px;
    background-color: var(--plain-ui);
    width: 100%;
    height: 100%;

    // .nav-item {
    //     width: 40px;
    //     height: 40px;
    // }
}

.markdown-nav .spacer {
    flex-grow: 1;
}


.nav-item.layout-split {
    border: 2px solid var(--nested-border);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30px 2px 30px;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: ease 0.2s;
}

.nav-item.layout-split:hover {
    background-color: var(--selected-hover);
}

.nav-item svg {
    width: 35px;
    height: 35px;
    padding: 5px;
    fill: var(--text);
}

.nav-item.layout-split .border {
    background-color: var(--nested-border);
    height: 100%;
    width: 2px;
}

.nav-item.layout-single {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid var(--nested-border);
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.2s;
}

.nav-item.nav-item.layout-single:hover {
    background-color: var(--selected-hover);
}